// ----------------------------------------------------------
// GLOBAL TOKENS
// Custom Theme
// ----------------------------------------------------------

@layer theme {
  .theme {
    // --------------------------------------------------------
    // Colors (Branding Core)
    // --------------------------------------------------------
    --fs-color-main-0                                     : #f1f2f3;
    --fs-color-main-2                                     : #f71963;
    --fs-color-main-3                                     : #ffe0ef;
    --fs-color-main-4                                     : #ffc4dd;
  
    --fs-color-success-bkg                                : #e9fce3;
    --fs-color-warning-bkg                                : #e9fce3;
    --fs-color-danger-bkg                                 : #f7d1d1;
    // --------------------------------------------------------
    // Typography (Branding Core)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Spacing (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Grid & Layout (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Interactive Controls (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Refinements
    // --------------------------------------------------------

    --fs-border-radius                                    : 5px;

    // --------------------------------------------------------
    // FS UI Components
    // --------------------------------------------------------
    // Add here the customizations for FastStore UI components.
  }
}
